
./gitignore

./**/target/
./**/target/*
./**/target/*

./**/.idea
./**/.idea/*

Groupe3/Insurance/.vertx/*
Groupe3/Insurance/.vertx
Groupe3/Insurance/.vertx/**/*
*/.vertx/*

Groupe3/Insurance/.idea/workspace.xml

Groupe3/Insurance/.idea/*

Groupe3/Insurance/target/*
Groupe3/Insurance/target/**/*
Groupe3/Insurance/front/target/*
Groupe3/Insurance/front/target/**/*
Groupe3/Insurance/front/target/**/insurance.**/*
Groupe3/Insurance/services/target/*
Groupe3/Insurance/services/target/**/*

Groupe3/Insurance/**/*.iml

Groupe3/Insurance/front/src/main/main.iml

Groupe3/Insurance/insurance.iml
Groupe3/Insurance/services/insurance.service.iml

Groupe3/Insurance/out/production/main1/services/HelloService.class
Groupe3/Insurance/out/production/main1/services/IHelloService.class

Groupe3/Insurance/services/src/main/main1.iml

Groupe3/Insurance/front/insurance.front.iml
Groupe3/Insurance/front/pom.xml
Groupe3/Insurance/front/src/main/java/dao/UserRepository.java
Groupe3/Insurance/front/src/main/resources/application.propertiesfig/TestController.class
=======
ProjetVertx/.idea/
